<footer style="display: flex; justify-content:space-between; padding:10px; background-color: #191d28; color:white; border-top:1px solid #65686f">
        <p>Copyright&copy;2019 HodlInfo.com</p>
        <p>support</p>
 </footer>
